.about {
  padding: 80px;
}
.about h3 {
  padding: 40px;
  font-family: 'Roboto', sans-serif;
  color: #3a3939;
  text-transform: capitalize;
  font-size: 40px;
  text-align: center;
}
.about p {
  font-family: 'Montserrat', sans-serif;
  color: #070101;
  text-transform: capitalize;
  font-size: 18px;
  text-align: center;
}
